* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.full {
    width: 70%;
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 5fr 8fr;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px 0;
}


.left {
    background-color: rgb(108, 194, 215);
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: initial;
    display: flex; 
    flex-direction: column;
    justify-content: left; 
    align-items: left; 
}

.image {
    padding-bottom: 80px;

}

.right {
    background-color: rgb(162, 202, 206);
    padding: 20px;
}

h2 {
    background-color: rgb(4, 96, 150);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

ul li {
    padding: 5px 0;
}


.contact p {
    font-size: 16px;
    margin-bottom: 8px;
}


.contact a {
    color: blue; 
}

.contact a:hover {
    color: rgb(0, 55, 255); 
}


.right h2 {
    margin-bottom: 10px;
	margin-top: 10px;
}


.skills h2 {
    background-color: rgb(4, 96, 150);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-top: 10px; 
}

.skills ul {
    list-style-type: disc; 
    padding-left: 10px; 
}

.skills ul li {
    padding: 5px 0; 
}


a {
    color: rgb(0, 55, 225);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 55, 255);
    text-decoration: underline;
}


.Education {
    width: 100%;
    border-collapse: collapse;
}

.Education th{
    text-align: center;
    white-space: nowrap;
    padding: 0px;

}

.Education td {
    text-align: center;;
    padding: 2px; 

}

.Education th:nth-child(2),
.Education td:nth-child(2) {
    text-align: center;
    padding-right: 25px; 
}

.experience ul {
    list-style-type: disc; 
    padding-left: 20px; 
}

.experience ul li {
    padding: 5px 0; 
}

.projects ul {
    list-style-type: disc; 
    padding-left: 20px;
}

.projects ul li {
    padding: 5px 0; 
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(4, 150, 60);
    color: white;
    margin-top: 20px;
    font-size: 20px;
}


@media screen and (max-width: 560px) {
    .full {
        width: 100%;
        display: contents;
        display: block;
    }
    
    .left, .right {
        width: 100%;
        padding: 15px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .skills ul li, .experience ul li, .projects ul li {
        font-size: 16px;
    }
    
    footer {
        font-size: 16px;
        padding: 12px;
    }
}
